bt.dat
conf.json
node.dll
server.exe
client_packages/.listcache
bridge/runtime/**


plugins
database.sql
bridge/resources/ProjectUnion/.vs/**
bridge/resources/ProjectUnion/bin/**
bridge/resources/ProjectUnion/obj/**
bbridge/resources/ProjectUnion/ProjectUnion.csproj
ridge/resources/PlayerGroups/.vs/**
bridge/resources/PlayerGroups/bin/**
bridge/resources/PlayerGroups/obj/**
bridge/resources/PlayerGroups/PlayerGroups.csproj
bridge/server_exceptions.txt
bridge/server_logs.txt
