bt.dat
conf.json
node.dll
server.exe
client_packages/.listcache
bridge/runtime


/plugins
/database.sql
/bridge/resources/ProjectUnion/bin/Debug/netcoreapp2.0
/bridge/resources/ProjectUnion/obj/Debug/netcoreapp2.0
bridge/resources/PlayerGroups/.vs/PlayerGroups/DesignTimeBuild/.dtbcache
bridge/resources/PlayerGroups/.vs/PlayerGroups/v16/.suo
bridge/resources/PlayerGroups/.vs/PlayerGroups/v16/Server/sqlite3/storage.ide
bridge/resources/PlayerGroups/obj/Debug/netcoreapp2.0/PlayerGroups.assets.cache
bridge/resources/PlayerGroups/obj/Debug/netcoreapp2.0/PlayerGroups.csprojAssemblyReference.cache
bridge/resources/PlayerGroups/obj/PlayerGroups.csproj.nuget.cache
bridge/resources/PlayerGroups/obj/PlayerGroups.csproj.nuget.dgspec.json
bridge/resources/PlayerGroups/obj/PlayerGroups.csproj.nuget.g.props
bridge/resources/PlayerGroups/obj/project.assets.json
bridge/resources/PlayerGroups/PlayerGroups.csproj
bridge/resources/ProjectUnion/.vs/ProjectUnion/v16/.suo
bridge/resources/ProjectUnion/.vs/ProjectUnion/v16/Server/sqlite3/storage.ide
bridge/resources/ProjectUnion/.vs/ProjectUnion/v16/Server/sqlite3/storage.ide-shm
bridge/resources/ProjectUnion/.vs/ProjectUnion/v16/Server/sqlite3/storage.ide-wal
bridge/resources/ProjectUnion/obj/Debug/netcoreapp2.0/ProjectUnion.assets.cache
bridge/resources/ProjectUnion/obj/Debug/netcoreapp2.0/ProjectUnion.csprojAssemblyReference.cache
bridge/resources/ProjectUnion/obj/project.assets.json
bridge/resources/ProjectUnion/obj/ProjectUnion.csproj.nuget.cache
bridge/resources/ProjectUnion/obj/ProjectUnion.csproj.nuget.dgspec.json
bridge/resources/ProjectUnion/obj/ProjectUnion.csproj.nuget.g.props
